.ei-barra-sup{
	padding: 4px 0px 4px 5px;
	font: 1.1em;
}
.ei-cuadro-col-tit{
	text-align:center;
	font-weight: bold;
	padding: 4px 0px 4px 0px;
}
.barra-superior-tit{
	text-align: center;
}
.item-barra{
	width: 100%;
	font-size: 1.3em;
	text-shadow: 0px 0px 2px #222;
}
.etiqueta_info{
	font-weight: bold;
	font-size: 1.1em;
	color: #22F;
}
.etiqueta_success{
	font-weight: bold;
	font-size: 1.1em;
	color: #35a535;
}
.etiqueta_error{
	font-weight: bold;
	font-size: 1.1em;
	color: #F22;
}
.cargo_vigente{
	color:#008400;
}

.centrado{
	text-align: center;
}
.sombreado{
	text-shadow: 1px 1px 1px #7D7D7D;
}
#enc-logo img{
	padding: 0px 0px 0px 18px;
}
#disciplinas_incluidas{
	height: 26px;
	margin: auto 40px auto 160px;
	padding: 3px;
	color: #333;
	font-size:1.1em;
}
.ci-tabs-v-lista{
	width: 20%;
}
.ci-tabs-v-solapa{
	padding: 3px;

}
.ci-tabs-v-solapa:hover{
	background-color:#DDD;

}
.ci-tabs-v-solapa a{
	display:inline-block;
	font-size:1.4em;
	text-decoration: none;
	width: 100%;
}
.ei-ml-grilla thead{
	font-size: 1.1em;
}
.ef-upload-desc{
    display:none;
}
.ei-ml-columna{
	text-align:center;
}


	

