.ei-barra-sup{
	padding: 4px 0px 4px 5px;
	font: 1.1em;
}
.ei-cuadro-col-tit{
	text-align:center;
	font-weight: bold;
	padding: 4px 0px 4px 0px;
}
.barra-superior-tit{
	text-align: center;
}
.item-barra{
	width: 100%;
	font-size: 1.3em;
	text-shadow: 0px 0px 2px #222;
}
.etiqueta_info{
	font-weight: bold;
	font-size: 1.1em;
	color: #22F;
}
.etiqueta_success{
	font-weight: bold;
	font-size: 1.2em;
	color: #fff;
	background-color:#60c547;
	text-shadow: 0px 0px 2px #222;
	padding:2px 0px 2px 0px;
	border-radius: 40px;
	box-shadow: 2px 2px 10px #222;
}
.etiqueta_success:after{
	content:' \221A';
	font-weight: bolder;
	color:#134e00;
}


.etiqueta_error{
	font-weight: bold;
	font-size: 1.2em;
	color: #fff;
	background-color:#ec6060;
	text-shadow: 0px 0px 2px #222;
	padding:2px 0px 2px 0px;
	border-radius: 40px;
	box-shadow: 2px 2px 10px #222;

}
.etiqueta_error:after{
	content:'\20\20\20\20 X';
	font-weight: bolder;
	color:black;
}
.lista_cargos{
	margin: 1px 0px 1px 30px;
	padding:1px;
}
.cargo_vigente{
	color:#008400;
}

.centrado{
	text-align: center;
}
.sombreado{
	margin: 0px;
	background-color:#585c98;
	color:#FFF;
	padding: 4px 0px 4px 0px;
	/*text-shadow: 1px 1px 1px #000000;*/
	text-transform: uppercase;
	font-size: 1.4em;
}
#enc-logo img{
	padding: 0px 0px 0px 18px;
}
#disciplinas_incluidas{
	height: 26px;
	margin: auto 40px auto 160px;
	padding: 3px;
	color: #333;
	font-size:1.1em;
}
.ci-tabs-v-lista{
	width: 20%;
}
.ci-tabs-v-solapa{
	padding: 3px;

}
.ci-tabs-v-solapa:hover{
	background-color:#DDD;

}
.ci-tabs-v-solapa a{
	display:inline-block;
	font-size:1.4em;
	text-decoration: none;
	width: 100%;
}
.ei-ml-grilla thead{
	font-size: 1.1em;
	width: 100%;
}
.ef-upload-desc{
    display:none;
}
.ei-ml-columna{
	text-align:center;
}

/* FIELDSET "Detalle de Director" */
.detalle_director{
	width:100%;
	margin: auto auto auto 40px;
	font-size:1.1em;
	background-color:#ffffff;
	box-shadow: 2px 2px 13px #333;
}
.detalle_director legend{
	font-size:1.4em;
	margin:10px;
	position:relative;
	background-color: #5b5f9e;
	padding: 1px 10px 1px 10px;
	box-shadow: 2px 2px 4px #333;
	color:#ffffff;
	text-shadow:1px 1px 1px #4a4a4a;
}
.detalle_director p{
	padding: 2px;
	margin:2px
}

#enlace_analitico{
	background-color: #328dea;
	color:#FFF;
	float:left;
	font-size:1.3em;
	font-weight: bold;
	margin: 0px auto 10px 162px;
	padding: 2px 30px;
	text-align:center;
	text-decoration:none;
	position:absolute;
	top: 115px;
	left: 65px;
	box-shadow: 1px 1px 3px #000;
}


	

